/*.navbar {*/
/*height: 50px;*/
/*padding: 0 15px;*/
/*width: 100%;*/
/*position: fixed;*/
/*top: 0;*/
/*z-index: 999;*/
/*}*/

.table-area {
    position: relative;
    z-index: 0;
    margin-top: 50px;
}

table.responsive-table {
    display: table;
    /* required for table-layout to be used (not normally necessary; included for completeness) */
    table-layout: fixed;
    /* this keeps your columns with fixed with exactly the right width */
    width: 100%;
    /* table must have width set for fixed layout to work as expected */
    height: 100%;
}

td.wordbreak {
    word-break: break-all;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

.register {
    width: 30%;
    margin: 100px auto 0;
}

.navbar {
    height: 50px;
}

@media (min-width: 1200px) {
    .container-fluid {
        width: 1200px;
    }
}