{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid" id="register-bg">

        <div class="login card">
            <h3 class="card-title">登录</h3>
            <hr>
            <form class="form" action="/users/login/" method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        <label for="col_name" class="col-form-label my-label2">{{ field.label_tag }}</label>
                        {{ field }}
                        <small style="color: red;">{{ field.errors }}</small>
                        {% if field.help_text %}
                            <small class="form-text text-muted">{{ field.help_text|safe }}</small>
                        {% endif %}
                    </div>

                {% endfor %}
                <button type="submit" class="btn btn-primary btn-block">登录</button>
            </form>
            <div style="text-align: center; margin-top: 10px">
                <div><span>没有账号?<a href="/register">立即注册</a></span></div>
                <div><span><a href="#">忘记密码?</a></span></div>
            </div>
        </div>


    </div>
{% endblock %}