<!doctype html>
<html lang="zh-CN">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>数据库结构展示平台</title>
    <link rel="stylesheet" href="/static/css/hello.css">
    <style>

    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand mb-0 h1" href="/">数据结构展示平台</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav" hidden>
                <li class="nav-item active">
                    <a class="nav-link" href="#">首页 <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">表</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">列</a>
                </li>
            </ul>
        </div>

        {% if user.is_authenticated %}
            <ul class="navbar-nav" id="logined">
                <li class="nav-item active">
                    <a class="nav-link" href="#">欢迎您: {{ user.username }}</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/users/logout/"> 注销登录</a>
                </li>

            </ul>
        {% else %}
            <ul class="navbar-nav" id="not-login">
                <li class="nav-item active">
                    <a class="nav-link" href="/register/">注册 </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/users/login/">登录</a>
                </li>
            </ul>
        {% endif %}

    </div>
</nav>



{% block content %}
{% endblock %}

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="/static/js/custom.js"></script>
<!-- Footer -->
<footer class="page-footer font-small blue pt-4 mt-4">
</footer>
<!-- Footer -->
</body>
</html>