{% extends 'base.html' %}


{% block content %}

    <div class="container-fluid">

        <div class="card register">
            <h3 class="card-title">注册</h3>
            <hr>
            <form class="form" action="/register/" method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        <label for="col_name" class="col-form-label">{{ field.label_tag }}</label>
                        {{ field }}
                        <small style="color: red;">{{ field.errors }}</small>
                        {% if field.help_text %}
                            <small class="form-text text-muted">{{ field.help_text|safe }}</small>
                        {% endif %}
                    </div>

                {% endfor %}
                <button type="submit" class="btn btn-primary btn-block">注册</button>
            </form>
            <div style="text-align: center; margin-top: 10px">
                <a href="/users/login/">已有账号登录</a>
            </div>
        </div>


    </div>
{% endblock %}