{% extends 'base.html' %}

{% block content %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand mb-0 h1" href="/">数据结构展示平台</a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav" hidden>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">首页 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">表</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">列</a>
                    </li>
                </ul>
            </div>

            {% if user.is_authenticated %}
                <ul class="navbar-nav" id="logined">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">欢迎您: {{ user.username }}</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/users/logout/"> 注销登录</a>
                    </li>

                </ul>
            {% else %}
                <ul class="navbar-nav" id="not-login">
                    <li class="nav-item active">
                        <a class="nav-link" href="/register/">注册 </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/users/login/">登录</a>
                    </li>
                </ul>
            {% endif %}

        </div>
    </nav>

    <div class="container-fluid">
        <div class="table-area">
            <table class="table table-striped table-bordered table-hover responsive-table">
                <thead class="header">
                <tr>
                    <th>表名</th>
                    <th>版本号</th>
                    <th>业务类型</th>
                    <th>类型</th>
                    <th>表状态</th>
                    <th>表说明</th>
                    <th>编辑</th>
                </tr>
                </thead>
                <tbody>
                {% for table in tables %}
                    <tr>
                        <td class="wordbreak"><a href="table/{{ table.tab_name }}">{{ table.tab_name }}</a></td>
                        <td>{{ table.tab_ver }}</td>
                        <td>{{ table.tab_buzz }}</td>
                        <td>{{ table.tab_type }}</td>
                        <td>{{ table.tab_status }}</td>
                        <td>{{ table.tab_comment }}</td>
                        <td>
                            <button type="button"
                                    class="btn btn-primary"

                                    {% if user.is_authenticated %}
                                    data-toggle="modal"
                                    {% else %}
                                    onclick="editorBtn()"
                                    {% endif %}

                                    data-target="#tableEditor"
                                    data-tab_name="{{ table.tab_name }}"
                                    data-tab_buzz="{{ table.tab_buzz }}"
                                    data-tab_type="{{ table.tab_type }}"
                                    data-tab_status="{{ table.tab_status }}"
                                    data-tab_comment="{{ table.tab_comment }}">编辑
                            </button>

                        </td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="modal fade" id="tableEditor" tabindex="-1" role="dialog" aria-labelledby="tableEditor"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">编辑</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group" hidden>
                            <label for="tab_name" class="col-form-label">表名: </label>
                            <input type="text" class="form-control" id="tab_name">
                        </div>
                        <div class="form-group">
                            <label for="tab_buzz" class="col-form-label">业务类型: </label>
                            <select class="form-control" id="tab_buzz">
                                <option value="字典类">字典类</option>
                                <option value="居民健康档案">居民健康档案</option>
                                <option value="慢病">慢病</option>
                                <option value="老年人">老年人</option>
                                <option value="妇幼、儿童">妇幼、儿童</option>
                                <option value="家庭医生签约">家庭医生签约</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="tab_type" class="col-form-label">类型: </label>
                            <select class="form-control" id="tab_type">
                                <option value="表">表</option>
                                <option value="视图">视图</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="tab_status" class="col-form-label">表状态: </label>
                            <select class="form-control" id="tab_status">
                                <option value="启用">启用</option>
                                <option value="停用">停用</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="tab_comment" class="col-form-label">表说明: </label>
                            <textarea class="form-control" id="tab_comment"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" onclick="postTableData()">提交</button>
                </div>
            </div>
        </div>
    </div>

    {#    login tip #}
    <div class="modal fade" id="loginTip" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">提示</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    您还没有登录，请先登录！
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="window.location.href='/register/'">注册
                    </button>
                    <button type="button" class="btn btn-primary" onclick="window.location.href='/users/login/'">登录
                    </button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}